/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

 /* You can override the default Infima variables here. */

 :root {
  --ifm-color-primary: #408ac5;
  --ifm-color-primary-dark: #397bb2;
  --ifm-color-primary-darker: #326d9f;
  --ifm-color-primary-darkest: #2a5b85;
  --ifm-color-primary-light: #4e9bcf;
  --ifm-color-primary-lighter: #5ba9d9;
  --ifm-color-primary-lightest: #74bde8;

  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-font-family-base: 'Lato', 'Inter', Helvetica, sans-serif;
}

[data-theme='dark'] {

  --ifm-color-primary: #78bce9;
  --ifm-color-primary-dark: #61a9d9;
  --ifm-color-primary-darker: #55a2d6;
  --ifm-color-primary-darkest: #3c92c8;
  --ifm-color-primary-light: #8fd5f6;
  --ifm-color-primary-lighter: #9bdcf8;
  --ifm-color-primary-lightest: #b8e6fa;
  
  --ifm-background-color: #1b1b1d;
  --ifm-font-color-base: #ffffff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.header-github-link:hover {
  opacity: 0.6;
}

.header-github-link:before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

html[data-theme='dark'] .header-github-link:before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

.header-slack-link:hover {
  opacity: 0.8;
}

.header-slack-link:before {
  content: '';
  width: 160px;
  height: 40px;
  display: flex;
  background-image: url(/img/join-slack.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; 
}

/* Base button styles */
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid white;
  padding: 14px 24px;
  font-size: 1.1rem;
  font-weight: 600;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.25s;
  text-decoration: none !important;
  color: white;
  background: transparent;
}
.button:hover {
  opacity: 0.8;
  border-color: var(--ifm-color-primary);
  color: white;
}

/* Landing Page Specific Styles */
.landing-page-main {
  width: 100%;
  overflow-x: hidden;
}

.section-title {
  font-size: 2rem;
  font-weight: 500;
  color: rgba(208, 208, 208, 0.82);
  text-align: center;
  margin-bottom: 2rem;
}

/* Hero Section */
.hero-section {
  padding: 5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  min-height: 60vh;
  justify-content: center;
  position: relative;
}
.hero-logo-container {
  position: relative;
  left: 80px;
  width: 100%;
  max-width: 500px;
  margin-bottom: 2rem;
}
.hero-logo {
  width: 100%;
  height: auto;
}
.hero-title {
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: 300;
  max-width: 1000px;
}
.title-bold {
  font-weight: 700;
  font-style: italic;
  color: var(--ifm-color-primary);
}
.hero-description {
  font-size: clamp(1rem, 2vw, 1.25rem);
  max-width: 1100px;
  line-height: 1.6;
  color: #d0d0d0;
}
.desc-highlight {
  color: var(--ifm-color-primary);
}
.desc-link {
  color: var(--ifm-color-primary);
  text-decoration: underline;
}
.hero-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1rem;
}
.get-started-button {
  background-color: var(--ifm-color-primary);
  color: #1b1b1d !important;
  border-color: var(--ifm-color-primary);
  font-weight: bold;
}
.download-icon {
  margin-right: 0.5rem;
  width: 20px;
  height: 20px;
}

/* Features Section */
.features-section {
  padding: 1rem;
}
.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
  max-width: 1600px;
  margin: 0 auto;
}
.feature-card {
  border: 1px solid #363636;
  border-radius: 12px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  background: linear-gradient(to bottom, #101010, #1B1B1D);
}
.feature-card-link {
  color: inherit !important;
  text-decoration: none !important;
  transition: all 0.2s ease-in-out;
}
.feature-card-link:hover {
  transform: translateY(-5px);
  border-color: var(--ifm-color-primary);
}
.feature-card-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.feature-icon {
  width: 40px;
  height: 100%;
}
.feature-title {
  font-size: 1.5rem;
  font-weight: 500;
  max-width: 230px;
}
.feature-description {
  font-weight: 300;
  font-size: 0.9rem;
  line-height: 1.5;
  color: #d0d0d0;
  margin: 0;
}

/* Adopters Section */
.adopters-section {
  padding: 4rem 2rem;
}
.adopters-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  max-width: 1600px;
  margin: 0 auto;
}
.adopter-card {
  border: 1px solid #535353;
  border-radius: 12px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  text-align: center;
}
.adopter-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.adopter-logo-img {
  height: 48px;
  width: auto;

}
.adopter-name {
  font-size: 1.75rem;
  font-weight: 500;
  color: white;
}
.adopter-description {
  font-size: 0.9rem;
  color: #a0a0a0;
  line-height: 1.5;
  margin: 0;
}

/* Talks Section */
.talks-section {
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.talks-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 2rem;
  max-width: 1600px;
  margin: 0 auto;
}
.talk-item {
  text-align: start;
}
.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  margin-bottom: 1rem;
  border-radius: 8px;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.talk-description {
  font-style: italic;
  font-size: 1.2rem;
  padding: 0 1rem;
}

/* CNCF and Community CTA Sections */
.cncf-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  padding: 3rem 5rem;
  background: #141414;
  text-align: center;
}
.cncf-text {
  font-size: 1.5rem;
  font-weight: 300;
  max-width: 800px;
  margin: 0;
}
.cncf-highlight {
  color: var(--ifm-color-primary);
}
.cncf-logo {
  max-width: 400px;
  width: 100%;
  height: auto;
}

.community-section {
  padding: 4rem 2rem;
}
.community-title {
  color: var(--ifm-color-primary);
  font-weight: bold;
}
.community-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}
.community-button {
  padding: 1rem 1.5rem;
  font-size: 1.25rem;
}
.community-icon {
  width: 100%;
  height: 28px;
  margin-right: 0.75rem;
}
