name: Create Docs PR
on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.0' # run this workflow when a new minor version is published

permissions:
  contents: read

jobs:
  create-docs-pr:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.3.1
        with:
          egress-policy: audit

      - name: Get version from tag
        shell: bash
        run: |
          TAG="$(echo "${{ github.ref }}" | tr -d 'refs/tags/v')"
          MAJOR_VERSION="$(echo "${TAG}" | cut -d '.' -f1)"
          MINOR_VERSION="$(echo "${TAG}" | cut -d '.' -f2)"
          echo "NEWVERSION=v${MAJOR_VERSION}.${MINOR_VERSION}.x" >> ${GITHUB_ENV}

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Generate versioned docs
        shell: bash
        run: make version-docs

      - name: Create release pull request
        uses: peter-evans/create-pull-request@22a9089034f40e5a961c8808d113e2c98fb63676 # v7.0.11
        with:
          commit-message: "chore: Generate ${{ env.NEWVERSION }} docs"
          title: "chore: Generate ${{ env.NEWVERSION }} docs"
          branch: "release-${{ env.NEWVERSION }}"
          base: "main"
          signoff: true
