name: Create Docs PR
on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.0' # run this workflow when a new minor version is published

permissions:
  contents: write
  pull-requests: write

jobs:
  create-docs-pr:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@6c439dc8bdf85cadbbce9ed30d1c7b959517bc49 # v2.3.1
        with:
          egress-policy: audit

      - name: Get version from tag
        shell: bash
        run: |
          TAG="$(echo "${{ github.ref }}" | tr -d 'refs/tags/v')"
          MAJOR_VERSION="$(echo "${TAG}" | cut -d '.' -f1)"
          MINOR_VERSION="$(echo "${TAG}" | cut -d '.' -f2)"
          echo "NEWVERSION=v${MAJOR_VERSION}.${MINOR_VERSION}.x" >> ${GITHUB_ENV}

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      - name: Generate versioned docs
        shell: bash
        run: make version-docs

      - name: Create release pull request
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
        with:
          commit-message: "chore: Generate ${{ env.NEWVERSION }} docs"
          title: "chore: Generate ${{ env.NEWVERSION }} docs"
          branch: "release-${{ env.NEWVERSION }}"
          base: "main"
          signoff: true
